* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-image: url(../assets/img/pizarra-colegio-marco.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    color: aliceblue;
}

body, main, section, form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}

form {
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

svg {
    width: 300px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 auto;
    background-color: blanchedalmond;
    display: block;
}